body{
    width: 100%;
    margin: auto;
}

h1{
    text-align: center;
}

a.color{
color: gold;
background-color: red;
}

table, tr, td{
    border: 1px solid black;
    border-radius: 5%;
    
}

p{
    margin-bottom: 30px;
}

.bold{

}

.hide{
    
}

.border{
    border-color: green;
}
.border_bottom{
    border-bottom: 1px dotted;
    border-bottom-color: red;
   
}


